.App {
  text-align: center;
}

input {
  caret-color: black;
}

body {
  width: 100vw;
  height: 100vh;
  background:darkkhaki;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.topbar{
  background-color: black;
  width:fit-content;
  
}

.navMenu{
  position:absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navMenu a{
  color:floralwhite;
  text-transform: uppercase;
  font-weight: 500;
  width: 50px;
  display: inline-block;
  transition:all 0.25s ease-in-out;
}

.sidebar{
  padding: 200px 0;
	background: lightblue;
  color: white;
  width:150px;
  height:175px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  line-height:2.0;
  position: absolute;
  left: 1%;
}

.Navs{
  float: left;
	position: relative;
	background: transparent;
}

.Navs ul{
  text-align: center;
}

.Navs ul li{
  position: relative;
  width: 75px;
  height: 50px;
  cursor: pointer;
	background: crimson;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

.Navs ul li:after {
	position: absolute;
	background: white;
	color: crimson;
	top:0;
	left: 75px;
	width: 75px; 
  height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

.container {
  position:relative;
  width: 400px;
  height: 575px;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  background: lightcoral;
  box-shadow: 14px 14px 20px green, -14px -14px 20px yellow;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: lightsalmon;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px green, inset -6px -6px 6px yellow;
}

button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px green, -6px -6px 6px yellow;
  transition: 0.5s;
}

a {
  position:relative;
  font-size: 12px;
  bottom: 4px;
  right: 4px;
  color:floralwhite;
  background:black;
  border-radius: 10px;
  padding: 2px;
}